<!-- Page Header -->
<header class="masthead" style="background-image: url('img/about-me.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Edit About</h1>
          <span class="subheading">Modify Current About Me Page</span>
        </div>
      </div>
    </div>
  </div>
</header>
<br />
<div class="container">
  <div class="contain-button">
    <br />
    <div id="adminMessage"></div>
    <br />
    <div class="form-group">
      <textarea placeholder="Tell Them About Yourself" class="form-control" id="about" rows="16"></textarea>
    </div>
    <button onclick="saveChangesAbout()" type="button" class="btn btn-primary btn-block">
      Save Changes
    </button>
  </div>
</div>
