<!-- Page Header -->
<div style="overflow-x: hidden;">
  <header class="masthead" style="background-image: url('img/edit-posts.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Edit Posts</h1>
            <span class="subheading">Modify / Change Posts Already Created</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <br />
    <div  id="allPosts" class="row"></div>
    <br />
  </div>
</div>
