<!-- Page Header -->
<header class="masthead" style="background-image: url('https://source.unsplash.com/1600x900/?about')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
          <br />
          <div id="editButton" class="text-center text-white"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%for(let i = 0; i < result.length; i++){%>
        <%const aboutList = result[i].split('\n')%>
        <%for(let j = 0; j < aboutList.length; j++){%>
          <%if(!aboutList[j].includes('http')){%>
          <p><%= aboutList %></p>
          <%}else{%>
            <a href="<%=aboutList[j].split(' ')[1]%>" class="text-primary">
              <%=aboutList[j]%>
              <br/>
              <br/>
            </a>
          <%}%>
        <%}%>
      <%}%>
    </div>
  </div>
</div>
