<!-- Page Header -->
<header class="masthead" style="background-image: url('img/admin.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Admin</h1>
          <span class="subheading"> Add and Edit Blog Contents </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <br />
  <br />
  <div class="contain-button">

    <a class="btn btn-primary btn-lg btn-block"  href="/admin/create-post" role="button">
        Create New Post
    </a>

    <br />
    <br />

    <a class="btn btn-primary btn-lg btn-block"  href="/admin/edit/posts"  role="button">
        Edit Current Posts
    </a>

    <br />
    <br />

    <a class="btn btn-primary btn-lg btn-block"  href="/admin/edit/about" role="button">
        Edit About Me Page
    </a>

    <br />
    <br />
    <a class="btn btn-primary btn-lg btn-block"  href="/admin/stats" role="button">
        Blog Stats
    </a>
  </div>

  <br />
  <br />
</div>
